doctype html
html
  head
    title Tiny Coin Cap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Minimal CoinMarketCap.com clone rendered server-side. JavaScript not required.')

    link(rel='apple-touch-icon', href='icon.png')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')

    link(rel='stylesheet', href='pure.css')
    link(rel='stylesheet', href='main.css')
  body
    div#top
      h1 Tiny Coin Cap
      p
        a(href='https://github.com/nitrohorse/tiny-coin-cap', target='_blank' rel='external noopener noreferrer') Source Code
        span  | 
        a(href='https://tinycoincap.now.sh/_src', target='_blank' rel='external noopener noreferrer') Validate
        span  | 
        a(href='https://tinycoincap.now.sh/_logs', target='_blank' rel='external noopener noreferrer') Logs
        span  | 
        a(href='https://www.ssllabs.com/ssltest/analyze.html?d=tinycoincap.now.sh&hideResults=on&latest', target='_blank' rel='external noopener noreferrer') Qualys SSL Server Test
        span  | 
        a(href='https://urlscan.io/domain/tinycoincap.now.sh', target='_blank' rel='external noopener noreferrer') urlscan.io

      p Last updated #{timeOfUpdate}
        span  | Powered by 
        a(href='https://coinmarketcap.com/api/', target='_blank' rel='external noopener noreferrer') CoinMarketCap.com

    table.pure-table.pure-table-horizontal
      thead
        tr
          th #
          th#align-left Coin
          th.hide-on-mobile Market Cap (USD)
          th Price (USD)
          th.hide-on-mobile Change (1h)
          th Change (24h)
          th Change (7d)
      tbody
        each coin, index in coins
          tr
            td= index + 1
            td#align-left= coin.name
            td.hide-on-mobile= coin.market_cap_usd
            td= coin.price_usd

            if coin.percent_change_1h > 0
              td.change-increase.hide-on-mobile= coin.percent_change_1h
            else
              td.change-decrease.hide-on-mobile= coin.percent_change_1h

            if coin.percent_change_24h > 0
              td.change-increase= coin.percent_change_24h
            else
              td.change-decrease= coin.percent_change_24h

            if coin.percent_change_7d > 0
              td.change-increase= coin.percent_change_7d
            else
              td.change-decrease= coin.percent_change_7d