doctype html
html
  head
    title Tiny Coin Cap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='apple-touch-icon', href='icon.png')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')

    link(rel='stylesheet', href='pure.css')
    link(rel='stylesheet', href='main.css')
  body
    h1 Tiny Coin Cap
    p
      a(href='https://github.com/nitrohorse/tiny-coin-cap', target='_blank' rel='external noopener noreferrer') Source Code
      span  | 
      a(href='https://tinycoincap.now.sh/_src', target='_blank' rel='external noopener noreferrer') Validate
      span  | 
      a(href='https://tinycoincap.now.sh/_logs', target='_blank' rel='external noopener noreferrer') Logs
      span  | 
      a(href='https://www.ssllabs.com/ssltest/analyze.html?d=tinycoincap.now.sh&hideResults=on&latest', target='_blank' rel='external noopener noreferrer') Qualys SSL Server Test
      span  | 
      a(href='https://urlscan.io/domain/tinycoincap.now.sh', target='_blank' rel='external noopener noreferrer') urlscan.io

    p Last updated: #{timeOfUpdate}

    table.pure-table.pure-table-horizontal
      thead
        tr
          th #
          th Name
          th Price (USD)
          th Change (24hr)
          th.hide-on-mobile Market Cap (USD)
      tbody
        each coin, index in coins
          tr
            td= index + 1
            td= coin.name
            td= coin.price_usd

            if coin.percent_change_24h > 0
              td.change-increase= coin.percent_change_24h
            else
              td.change-decrease= coin.percent_change_24h
            td.hide-on-mobile= coin.market_cap_usd